# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VR_Game.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\UNIMI\Realtà Virtuale\PROJECT\VR_Game\VR_Game\.idea\.idea.VR_Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
